.register-container {
  color: white;
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.register-title {
  margin-bottom: 20px;
}

.register-error {
  color: red;
  margin-top: 10px;
}

.register-back-button {
  margin-top: 12px;
}

