/* 主容器樣式 */
.app-container {
  width: 100vw;
  height: 100vh;
  position: relative;
  background: black;
}

/* 標題樣式 */
.app-title {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 40px 0 0 0;
  text-align: center;
  z-index: 10;
  color: white;
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: 2px;
}

/* 登入表單容器樣式 */
.login-container {
  position: absolute;
  z-index: 11;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50vw;
  height: 50vh;
  display: grid;
  place-items: center;
}

