/* Header 容器 */
.header-container {
  display: flex;
  border: 2px solid black;
}

/* 回首頁按鈕 */
.back-button {
  flex: 0.5;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
  cursor: pointer;
  background: none;
  border: none;
  transition: all 0.3s ease;
}

.back-button:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.home-icon-img {
  width: 50px;
  height: 50px;
  object-fit: contain;
}

/* 頁面標題區域 */
.page-title-section {
  flex: 1;
  border: 2px solid blue;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* 搜尋區域 */
.search-section {
  flex: 4;
  font-size: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid brown;
}

/* 搜尋輸入框 */
.search-input {
  font-size: 4rem;
  border-radius: 10px;
  border: none;
}

/* 操作按鈕區域 */
.actions-section {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 10px;
  border: 2px solid red;
}

/* 操作按鈕 */
.action-button {
  border-radius: 10px;
  /* 你可以調整寬度，例如 */
  width: 70px; /* 或你想要的任何數值，例如 8rem, 100% 等 */
  height: 50px;
}

